
body{
  padding:0;
  margin: 0;
}
#app{
position: relative;
 padding-top:20px;
 text-align: center;
 margin:0 auto;
 background-image:url('../image/bg.jpg');
 background-size: cover;
}
.names{
    width: 16%;
    height: 25px;
    padding: 8px 2%;
    margin: 8px 2%;
    background-color: pink;
    text-align: center;
    display: inline-block;
}
.names:hover{
 cursor: pointer;
}
.btn {
 padding:50px;
}
.btn button{
 width:80%;
 height: 42px;
 background-color: yellowgreen;
 font-size: 16px;
 border:none;
 margin:0 auto;
}
.tips{

  position: absolute;
  width: 100%;
  display: block;
  background-color:#fefefe;
  opacity: 0.8;
  padding:10px 0;
  font-size: 14px;
  text-align: center;
  top:100px;
  left:0px;
}
.ilike{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    background-color: pink;
    padding: 10px 20px;
    color: #666;
}